<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="struts/dto/OrderTable.hbm.xml"/>
    <mapping resource="struts/dto/SandwichTable.hbm.xml"/>
    <mapping resource="struts/dto/BurgerTable.hbm.xml"/>
    <mapping resource="struts/dto/PizzaTable.hbm.xml"/>
    <mapping resource="struts/dto/HotdogTable.hbm.xml"/>
    <mapping resource="struts/dto/NoodlesTable.hbm.xml"/>
    <mapping resource="struts/dto/ManchurianTable.hbm.xml"/>
    <mapping resource="struts/dto/IdliTable.hbm.xml"/>
    <mapping resource="struts/dto/DosaTable.hbm.xml"/>
    <mapping resource="struts/dto/SamosaTable.hbm.xml"/>
    <mapping resource="struts/dto/BiryaniTable.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
